body {
 font-family: 'Calibri', sans-serif; 
}  

.jumbotron {
    margin-bottom: 0px;
    background-image: url(bay-bridge-final1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
} 